body{
    font-family: 'Opens Sans', sans-serif;
}

.acesso-antecipado{
    background-color: var(--desaturated-blue, hsl(238, 22%, 44%));
    color: var(--font-white, #fff);
}

.rodape{
    background-color: var(--very-dark-blue, hsl(243, 87%, 12%));
    color: var(--font-white, #fff);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }