@media screen and (max-width: 48em) {
  /*Cabeçalho*/
  .cabecalho {
    max-width: 100%;
    padding: 2rem;
  }

  .cabecalho-image img {
    width: 6.12em;
  }

  .cabecalho-lista {
    gap: 1rem;
  }

  .cabecalho-lista li {
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3rem;
  }
  /*Fim Cabeçalho*/

  .arquivos-seguros,
  .seja-produtivo {
    flex-direction: column-reverse;
    width: 100%;
  }

  .arquivos-seguros-conteudo,
  .seja-produtivo-conteudo{
    width: 90%;
  }

  .arquivos-seguros-imagem,
  .seja-produtivo-imagem{
    width: 90%;

    margin: 1rem;
  }

  /*Arquivos Seguros*/
  .arquivos-seguros-conteudo h1 {
    font-size: 2rem;

    text-align: center;
  }

  .arquivos-seguros-conteudo p{
    text-align: center;
  }

  .arquivos-seguros-conteudo form {
    flex-direction: column;
    align-items: center;
  }

  .arquivos-seguros-conteudo form input,
  .arquivos-seguros-conteudo form button {
    width: 80%;
  }
  /*Fim Arquivos Seguros*/

  /*Seja Produtivo*/
  .seja-produtivo-conteudo{
    align-items: center;
  }

  .seja-produtivo-conteudo h2{
    font-size: 1.3rem;
  }

  .seja-produtivo-conteudo p{
    font-weight: 400;
    color: var(--light-gray, hsl(0, 0%, 75%));
  }
  /*Fim Seja Produtivo*/

  /*Acesso Antecipado*/
  .acesso-antecipado{
    flex-direction: column;

    padding: 2.5rem 2rem;
  }

  .acesso-antecipado-conteudo{
    margin: 1rem;
    text-align: center;
  }

  .acesso-antecipado-conteudo,
  .acesso-antecipado-formulario button{
    width: 100%;
  }
  /*Fim Acesso Antecipado*/

  /*Rodapé*/
  .rodape-conteudo{
    flex-direction: column;
    align-items: start;

    padding: 3rem 2rem;
  }

  .rodape-conteudo .contato,
  .rodape-lista ul{
    margin-bottom: 2.5rem;
    gap: 1rem;
  }

  .rodape-redes-sociais ul{ 
    align-items: center;
  }
  /* Fim Rodapé*/
}
